Body {  
    font-family: Calibri, Helvetica, sans-serif;  
    background:linear-gradient(to right,blue,pink);  
  }  
  button {   
         background-color: #04ee04;   
         width: 70%;  
          color: rgb(6, 6, 6);   
          padding: 15px;   
          margin: 10px 0px;   
          border: none;   
          cursor: pointer;   
           }   
   form {   
          border: 3px solid #f1f1f1;   
      }   
   input[type=text], input[type=password] {   
          width: 100%;   
          margin: 8px 0;  
          padding: 12px 20px;   
          display: inline-block;   
          border: 2px solid green;   
          box-sizing: border-box;   
      }  
   button:hover {   
          opacity: 0.7;   
      }   
    .cancelbtn {   
          width: auto;   
          padding: 10px 18px;  
          margin: 10px 5px;  
      }   


   .container {   
          width: 40%;
          justify-content: center;
          align-items: center;
          padding: 25px;   
          background-color: gray;  
          color: #fff;
          margin-top: 20px;
          margin-left: 350px;
      }   
      .sub{
          width: 20%;
          align-items: center;
          padding: 25px;   
          background-color: rgb(218, 112, 112);  
          color: #1e1616;
          margin-top: 20px;
          margin-left: 500px;
      }
