<!DOCTYPE html>
<html>
<head>
<title>Cosmetic Shop Management System</title>
<link rel="stylesheet" href="about.css">
</head>
<section id="showcase">
<div class="container">
<h3>Welcome to my shop</h3>
</div>
</section>
<body>
<h1>About</h1>
<div class="content">
<h3>Cosmetic Shop Management System is an absolute solution for managing a shop, in other words to say it is an upgrade tool that helps to categorize the regular activities in shop. This database helps customer to find the product details easily. There is the need of an application that can handle customer orders systematically. This Cosmetic Shop Management System keeps every record in Shop using database and reduce the paperwork. These records are stored in the database with security. The main processes of the system focus on customers request where the system is able to search the most appropriate products and deliver it to the customers. It should help the employees to quickly identify the list of products. </h3>
<ahref="C:\Users\srute\OneDrive\Desktop\cosmetic\cosmetic homepage\homepage.html">back to homepage</a>
</div>
</body>
</html>
