<!DOCTYPE html>
<html>
<head>
<title>cosmetic shop</title>
<link rel="stylesheet" href="stylehome.css"
</head>
<body>
<header id="header1">
<div class="container">
<h1>COSMETIC SHOP</h1></div>
</header>
<br>
<nav id="navbar">
<div class=" container">
<h1>CATEGORY</h1>
<center>
<ul><li><a href="">Home</a></li>
<li><ahref="C:\Users\srute\OneDrive\Desktop\cosmetic\cosmetic homepage\about.html">About</a></li>
<li><ahref="C:\Users\srute\OneDrive\Desktop\cosmetic\cosmetic homepage\customer.html">Customer</a></li>
<li><a href="C:\Users\srute\OneDrive\Desktop\cosmetic\index.html">Login</a></li>
<li><ahref="C:\Users\srute\OneDrive\Desktop\cosmetic\admin page.html">Product</a></li>
</center>
</ul>
</div>
</nav>
<section id="showcase">
<div class="container">
<h3>Welcome to my shop</h3>
</div>
</section>
<div class="container">
<section id="main">
<h1>WELCOME</h1>
<p>This database helps customer to find the product details easily. There is the need of an application that can handle customer orders systematically. This Cosmetic Shop Management System keeps every record in Shop using database and reduce the paperwork.</p>
</section>
<aside id="sidebar">
<p>This database helps customer to find the product details easily. There is the need of an application that can handle customer orders systematically. This Cosmetic Shop Management System keeps every record in Shop using database and reduce the paperwork.</p>
</aside>
</div>
<footer id="foot1">
<p>copyright &copy;2023 my database</p>
</footer>
</body>
</html>
